<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.module_wom_batchmaterial" >

    <application>
        <activity android:name=".ui.activity.BatchMaterialListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.activity.BatchMaterialInstructionEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.activity.BatchMaterialRecordRejectListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.activity.BatchMaterialRecordsRecallAbandonListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.activity.BatchMaterialRecordsRecallListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.activity.BatchMaterialInstructionSetListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.activity.BatchInstructionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.activity.ScanBatchMaterialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.activity.BatchTrunkAreaScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
    </application>
</manifest>
