<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.module_wom_replenishmaterial">

    <application>
        <activity android:name=".ui.activity.ReplenishMaterialNotifyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.activity.ReplenishMaterialTableListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.activity.ReplenishMaterialTableEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.activity.AssociationEquipmentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.activity.CommonListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.activity.ReplenishMaterialTableScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
    </application>
</manifest>